body{
    background-color:rgb(226, 23, 226);
    font-family: 'Open Sans', sans-serif;
}
#container{
 width: 300px;
 margin: 0 auto;
 margin-top: 180px;
 text-align: center;
}
#header .logo{
    font-size: 70px;
    color:white;
}
#header h1{
    font-size: 33px;
    color: white;
}
.loginform .containerfields {
background-color:white;
}
.loginform .containerfield input {
    width: 100%;
    border: none;
    padding: 0px;
    margin: 8px;
    outline: none;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 100px;
    text-indent: 20px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
.loginform input[type=submit]{
    width: 150px;
    height: 30px;
    bottom: none;
    background-color: aqua;
    margin-top: 15px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.loginform input[type=submit]:hover{
    background-color: #fff;
    cursor: pointer;
}
#footer p{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
#footer p a{
    color: rgb(53, 139, 209);
    font-weight: bold;
    text-decoration: none;
}
